main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
}

.container h2 {
    font-size: 4rem;
    text-align: center;
    border-bottom: 3px #31D6D0 solid;
    margin-bottom: 1rem;
}

.container h3 {
    font-size: 2rem;
}

.container p, .container ul {
    font-size: 1.2rem;
    text-align: justify;
}

.container p {
    margin-bottom: 1rem;
}

.container ul {
    margin-left: 2rem;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div img {
    border: 4px solid #9F8BE8;
    width: 30rem;
}

